trigger:
- master

pool:
  vmImage: macOS-11
  demands: xcode

variables:
  workspace: 'Hakawai.xcworkspace'
  scheme: 'Hakawai'
  xcodeVersion: '12'

steps:
- task: CocoaPods@0
  displayName: 'pod install test'

- task: Xcode@5
  displayName: 'Xcode build'
  inputs:
    configuration: 'Release'
    sdk: 'iphoneos'
    xcWorkspacePath: $(workspace)
    scheme: $(scheme)
    xcodeVersion: $(xcodeVersion)

- task: Xcode@5
  displayName: 'Xcode test'
  inputs:
    actions: test
    configuration: 'Debug'
    sdk: 'iphonesimulator'
    xcWorkspacePath: $(workspace)
    scheme: $(scheme)
    xcodeVersion: $(xcodeVersion)
    destinationPlatformOption: 'iOS'
    destinationSimulators: 'iPhone 12'
    publishJUnitResults: true
