// iOS build settings shared between apps/libs and release flavor

#include "Hakawai.common.xcconfig"

COPY_PHASE_STRIP = YES
DEAD_CODE_STRIPPING = YES
DEPLOYMENT_POSTPROCESSING = YES
ENABLE_NS_ASSERTIONS = NO
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = non-global
STRIP_SWIFT_SYMBOLS = YES
VALIDATE_PRODUCT = YES
